# Create Overviews

Create some overview tables used in the documentation

# Packages and options

In [1]:
import pandas as pd

In [2]:
dir_in = "../../data/final/"

# Accounts

In [6]:
df_acc = pd.read_csv(dir_in + "accounts.csv")
df_accType = pd.read_csv(dir_in + "accountTypeCodes.csv")

C:\Users\abrel\anaconda3\envs\py38_eutl\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41565 entries, 0 to 41564
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   accountIDEutl              40861 non-null  float64
 1   name                       40880 non-null  object
 2   registry_id                40861 non-null  object
 3   accountType_id             40854 non-null  object
 4   openingDate                40825 non-null  object
 5   closingDate                23558 non-null  object
 6   isOpen                     40880 non-null  object
 7   commitmentPeriod           19094 non-null  object
 8   companyRegistrationNumber  36552 non-null  object
 9   installation_id            17542 non-null  object
 10  accountIDtransactions      33544 non-null  object
 11  isRegisteredEutl           41565 non-null  bool
 12  accountHolder_id           40854 non-null  float64
 13  id                         41565 non-null  int64
 14  created_on                 41546 non-null  object
 15  updated_on                 41546 non-null  object
dtypes: bool(1), float64(2), int64(1), object(12)
memory usage: 4.8+ MB

In [19]:
df_ = df_acc.groupby(["accountType_id"], as_index=False).id.count()
df_.columns = ["id", "count"]
df_ = df_.merge(df_accType, on="id", how="outer").fillna(0)
# for easier sorting
df_["main"] = df_["id"].map(lambda x: int(x.split("-")[0]))
df_["sup"] = df_["id"].map(lambda x: int(x.split("-")[1]))
#df_.to_excel("tmp_.xlsx")

# Installations

In [3]:
df_inst = pd.read_csv(dir_in + "installations.csv")
df_instType = pd.read_csv(dir_in + "activityCodes.csv")
df_ = df_inst.groupby("activity_id", as_index=False).id.count()
df_.columns = ["id", "number"]
df_ = df_.merge(df_instType, on="id", how="outer").fillna(0).sort_values("id")
#df_["percent"] = df_.number/df_.number.sum()
df_.to_excel("tmp_.xlsx", index=False)

C:\Users\abrel\anaconda3\envs\py38_eutl\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_["percent"] = (df_.number/df_.number.sum())*100

In [5]:
df_inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17542 entries, 0 to 17541
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   17542 non-null  object
 1   name                 15967 non-null  object
 2   registry_id          17542 non-null  object
 3   activity_id          17542 non-null  int64
 4   eprtrID              5324 non-null   object
 5   parentCompany        5998 non-null   object
 6   subsidiaryCompany    3512 non-null   object
 7   permitID             15967 non-null  object
 8   designatorICAO       599 non-null    object
 9   monitoringID         1575 non-null   object
 10  monitoringExpiry     0 non-null      float64
 11  monitoringFirstYear  1574 non-null   object
 12  permitDateExpiry     4080 non-null   object
 13  isAircraftOperator   17542 non-null  bool
 14  ec748_2009Code       1575 non-null   object
 15  permitDateEntry      15957 non-null  object
 16  mainAddress          17542 non-null  object
 17  secondaryAddress     4055 non-null   object
 18  postalCode           17539 non-null  object
 19  city                 17539 non-null  object
 20  country_id           17542 non-null  object
 21  latitudeEutl         3655 non-null   float64
 22  longitudeEutl        3655 non-null   float64
 23  entitlement          13955 non-null  float64
 24  latitudeGoogle       15835 non-null  float64
 25  longitudeGoogle      15835 non-null  float64
 26  latitudeOsm          6998 non-null   float64
 27  longitudeOsm         6998 non-null   float64
 28  nace15_id            13351 non-null  float64
 29  nace20_id            15066 non-null  float64
 30  nace_id              15068 non-null  float64
 31  created_on           17542 non-null  object
 32  updated_on           17542 non-null  object
dtypes: bool(1), float64(11), int64(1), object(20)
memory usage: 4.3+ MB

# Transactions

In [48]:
df_trans = pd.read_csv(dir_in + "transactionBlocks.csv")
df_mainTrans = pd.read_csv(dir_in + "mainTransactionTypeCodes.csv")
df_supTrans = pd.read_csv(dir_in + "supplementaryTransactionTypeCodes.csv")

In [53]:
df_ = df_trans.groupby(["transactionTypeMain_id", "transactionTypeSupplementary_id"], as_index=False).amount.sum()
df_.amount = round(df_.amount/1000000, 2)
#df_

In [52]:
df_ = df_.merge(df_mainTrans, left_on="transactionTypeMain_id", right_on="id", how="left").fillna(0).drop("id", axis=1)
df_ = df_.merge(df_supTrans, left_on="transactionTypeSupplementary_id", right_on="id", how="left").fillna(0).drop("id", axis=1)
df_

,transactionTypeMain_id,transactionTypeSupplementary_id,amount,description_x,description_y,description_x,description_y
0,1.0,0.0,27921.65,Issuance - Initial creation of a unit,No Supplementary Type,Issuance - Initial creation of a unit,No Supplementary Type
1,2.0,0.0,85.79,Conversion - Transformation of unit to create ...,No Supplementary Type,Conversion - Transformation of unit to create ...,No Supplementary Type
2,3.0,0.0,18713.03,External - External transfer of unit between r...,No Supplementary Type,External - External transfer of unit between r...,No Supplementary Type
3,4.0,0.0,494.91,Cancellation - Internal transfer of unit,No Supplementary Type,Cancellation - Internal transfer of unit,No Supplementary Type
4,5.0,0.0,16570.29,Retirement - Internal transfer of unit,No Supplementary Type,Retirement - Internal transfer of unit,No Supplementary Type
...,...,...,...,...,...,...,...
69,0.0,0.0,0.00,0,Conversion prior to Transfer to SOP (Conversio...,0,No Supplementary Type
70,0.0,0.0,0.00,0,Conversion of AAUs or RMUs into ERUs (Conversi...,0,No Supplementary Type
71,0.0,0.0,0.00,0,Unallocated Allowance Conversion,0,No Supplementary Type
72,0.0,0.0,0.00,0,Reversal of Surrender Kyoto Units from AOHA,0,No Supplementary Type
73,0.0,0.0,0.00,0,Reversal of Allowance Cancellation,0,No Supplementary Type